.navbar-custom {
    background-color: #123a05;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
.peopleCarouselImg img {
  width: auto;
  height: 225px;
  max-height: 225px;
}
.carousel .carousel-item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .carousel-item img {
    margin:auto;
    width: 75%;/*img width*/
    height: 500px;
}
#OrecBanner{
  background-color: grey;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}
