<section class="block">
<div id="OrecBanner" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active ">
      <img class="d-block img-fluid" src="../assets/Logo.jpg" alt="First slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block img-fluid" src="../assets/Canoe.JPG" alt="Second slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block img-fluid" src="../assets/Slack.jpeg" alt="Third slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block img-fluid" src="../assets/Hiking.jpg" alt="Fourth slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block img-fluid" src="../assets/GroupPic.JPG" alt="Fifth slide">
    </div>
  </div>
</div>
</section>
<nav class="navbar navbar-inverse navbar-toggleable-md  navbar-custom">
  <a class="navbar-brand" href="#">Trinity Outdoor Recreation</a>
  <div  id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Rentals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Leader Bios</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
