<div class="container-fluid">
  <div class="row justify-content-center align-self-center">
  <h1>What is OREC?</h1>
  <p class="text-justify">
    OREC is Trinity’s Outdoor Recreation Program. This student-run organization specializes in taking Trinity students off campus and into the wild side of Texas and surrounding states. Our activities include; hiking, backpacking, canoeing, swimming, and more! We believe that the finer things in life involve a little dirt and a lot of adventure, but not to worry, people of all outdoor experience levels are able to enjoy our trips. So, strap on some hiking boots, slather on some sunscreen, and come see what OREC has to offer!
  </p>
  </div>
  <div class="row justify-content-center align-self-center">
    <h2>Reasons to go on OREC trips</h2>
  </div>
  <div class="row justify-content-center align-self-center">
    <ul class="list-group">
      <li class="list-group-item">Meet new people</li>
      <li class="list-group-item">Explore beautiful landscapes</li>
      <li class="list-group-item">Relieve stress</li>
      <li class="list-group-item">Learn about Leave No Trace</li>
      <li class="list-group-item">Get a workout</li>
      <li class="list-group-item">Take a sweet Facebook/Instagram picture</li>
    </ul>
  </div>
</div>
